# Test Report

*Report generated on 24-Feb-2021 at 10:21:29 by [pytest-md]*

[pytest-md]: https://github.com/hackebrot/pytest-md

## Summary

5 tests ran in 1.02 seconds

- 1 failed
- 4 passed
