# Test Report

*Report generated on 24-Feb-2021 at 14:22:12 by [pytest-md]*

[pytest-md]: https://github.com/hackebrot/pytest-md

## Summary

6 tests ran in 0.36 seconds

- 6 passed

## 6 passed

### tests/test_01.py

`test_steps` 0.01s

`test_time` 0.01s

`test_steady_state` 0.04s

`test_control_tf` 0.00s

`test_sine_response` 0.22s

`test_step_response` 0.03s
