# Test Report

*Report generated on 23-Feb-2021 at 20:35:30 by [pytest-md]*

[pytest-md]: https://github.com/hackebrot/pytest-md

## Summary

3 tests ran in 0.98 seconds

- 3 passed
